
bin/Debug/netcoreapp3.1/PacMan.deps.json
bin/Debug/netcoreapp3.1/PacMan.dll
bin/Debug/netcoreapp3.1/PacMan.exe
bin/Debug/netcoreapp3.1/PacMan.pdb
bin/Debug/netcoreapp3.1/PacMan.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/PacMan.runtimeconfig.json
obj/Debug/netcoreapp3.1/PacMan.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/PacMan.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/PacMan.assets.cache
obj/Debug/netcoreapp3.1/PacMan.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/PacMan.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/PacMan.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/PacMan.dll
obj/Debug/netcoreapp3.1/PacMan.exe
obj/Debug/netcoreapp3.1/PacMan.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/PacMan.pdb
obj/PacMan.csproj.nuget.cache
obj/PacMan.csproj.nuget.dgspec.json
obj/PacMan.csproj.nuget.g.props
obj/PacMan.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Release/netcoreapp3.1/PacMan.AssemblyInfo.cs
obj/Release/netcoreapp3.1/PacMan.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/PacMan.assets.cache
*.json
*.xml
.DS_Store
*.dll
*.pdb
obj/JogoPacMan.csproj.nuget.g.targets
obj/JogoPacMan.csproj.nuget.g.props
obj/JogoPacMan.csproj.nuget.cache
obj/Debug/netcoreapp3.1/JogoPacMan.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/JogoPacMan.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/JogoPacMan.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/JogoPacMan.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/JogoPacMan.assets.cache
obj/Debug/netcoreapp3.1/JogoPacMan.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/JogoPacMan.AssemblyInfo.cs
